* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    box-sizing: border-box;
    font-family: Microsoft YaHei, sans-serif, Arial, Helvetica Neue, Helvetica, Heiti;
}
body{
    background: linear-gradient(45deg,rgba(49, 195, 201, 0.5),rgba(121, 163, 208, 0.5),rgba(69, 85, 209, 0.5));
}
.login{
    height:100%;
    width:100%;
    background:url('../images/bg.jpg') no-repeat center center;
    background-size:100% 100%;
}
.login .login_content{
    height:240px;
    width:400px;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.login .login_content .login_content_log{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#fff;
    margin-bottom:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0, 0.5);

}
.login .login_content .login_content_log img{
    width:70px;
    height:70px;
}
.login .login_content .login_content_ps{
    width:100%;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #fff;
}
.login .login_content .login_content_ps input{
    width:calc(100% - 40px);
    height:100%;
    outline: none;
    border:0;
    padding:0 10px;
}
.login .login_content .login_content_ps .login-key{
    height:100%;
     width:40px;
     cursor:pointer;
     background:rgba(255,255,255, 0.2);
     border-left:1px solid #fff;
}
.login .login_content .login_content_ps .login-key img{
    width:100%;
    height:100%;
}